<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @semester.id %>
</p>

<p>
  <b>Name:</b>
  <%= @semester.name %>
</p>


<%= link_to 'edit', edit_semester_path(@semester) %> |
<%= link_to 'back', semesters_path %>
