<h3>Listing documents</h3>

<div id="filter">
    <%= form_tag documents_path, :method => 'get' do %>
        <%= label_tag :prof %>
        <%= collection_select(nil, :prof_id, Prof.all.sort_by {|prof| prof.name}, :id, :name, { :include_blank => true,:selected => params[:prof_id] })  %>
        <%= label_tag :lesson %>
        <%= collection_select(nil, :lesson_id, Lesson.all.sort_by {|lesson| lesson.name}, :id, :name, { :include_blank => true,:selected => params[:lesson_id] })  %>        
        <%= label_tag :semester %>
        <%= collection_select(nil, :semester_id, Semester.all.sort_by {|semester| semester.name}, :id, :name, { :include_blank => true,:selected => params[:semester_id] })  %>
        <%= label_tag :doc_type %>
        <%= collection_select(nil, :doc_type_id, DocType.all.sort_by {|doc_type| doc_type.name}, :id, :name, { :include_blank => true,:selected => params[:doc_type_id] })  %>        
        <%= submit_tag "Filter", :name => nil %>
    <% end %>
</div>



<table width="100%">
  <tr>
    <!--<th>Id</th>
    <th>Name</th>-->
    <th>Professor</th>
    <th>Lesson</th>
    <th>Semester</th>
    <th>Doc type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documents.each do |document| %>
	  <tr class="<%= cycle("even", "odd") %>">
		<!--<td><%= document.id %></td>
		<td><%= document.name %></td>-->
		<td><%= document.prof.name %></td>
		<td><%= document.lesson.name %></td>
		<td><%= document.semester.name %></td>
		<td><%= document.doc_type.name %></td>
		<td><%= link_to "download " + document.name, "dokumente/" + document.name + File.extname(document.file_url) %></td>
		<td><%= link_to 'show', document %></td>
		<% if user_signed_in? %>
		<td><%= link_to 'edit', edit_document_path(document) %></td>
		<td><%= link_to 'destroy', document, confirm: 'Are you sure?', method: :delete %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

<!--<%= link_to 'New Document', new_document_path %>-->
