<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @document.id %>
</p>

<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Lesson:</b>
  <%= @document.lesson.name %>
</p>

<p>
  <b>Semester:</b>
  <%= @document.semester.name %>
</p>

<p>
  <b>Prof:</b>
  <%= @document.prof.name %>
</p>

<p>
  <b>Doctype:</b>
  <%= @document.doc_type.name %>
</p>

<% if user_signed_in? %>
	<%= link_to 'edit', edit_document_path(@document) %> |
<% end %>

<%= link_to 'back', documents_path %>
