<h3>Listing professors</h3>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profs.each do |prof| %>
  <tr>
    <td><%= prof.id %></td>
    <td><%= prof.name %></td>
    <td><%= link_to 'show', prof %></td>
    <td><%= link_to 'edit', edit_prof_path(prof) %></td>
    <td><%= link_to 'destroy', prof, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new professor', new_prof_path %>
